- title "Releases for #{@app_name}", help_url: 'https://github.com/FundingCircle/shipment_tracker/wiki/5.-MERGING-AND-DEPLOYING-A-FEATURE'

%p
  The Releases page on Shipment tracker can tell you what commits are pending deployment or have already been
  deployed for your repository and whether they have been approved by a Product Owner. From this page you can see:
%ul
  %li Any commits that have been merged onto the master branch awaiting deployment
  %li Whether the pending commits have a feature reviews
  %li Whether the pending commits have been approved or not approved.

%h2 Pending

%table.table.table-condensed
  %thead
    %tr
      %th{width: '10%'} version
      %th{width: '55%'} message
      %th{width: '35%'} feature reviews
  %tbody
  - @pending_releases.each do |release|
    %tr.pending-release{class: ('danger' unless release.approved?)}
      %td.monospace= commit_link(release.version, @github_repo_url)
      %td= pull_request_link(release.subject, @github_repo_url).html_safe
      %td
        - release.feature_reviews.each do |feature_review|
          %div= feature_review_link(feature_review)

%h2 Deployed

%table.table.table-condensed
  %thead
    %tr
      %th{width: '10%'} version
      %th{width: '55%'} message
      %th{width: '15%'} feature reviews
      %th{width: '20%'} last deployed at
  %tbody
  - @deployed_releases.each do |release|
    %tr.deployed-release{class: ('danger' unless release.approved?)}
      %td.monospace= commit_link(release.version, @github_repo_url)
      %td= pull_request_link(release.subject, @github_repo_url).html_safe
      %td
        - release.feature_reviews.each do |feature_review|
          %div= feature_review_link(feature_review)
      %td= release.production_deploy_time.try(:to_formatted_s, :long_ordinal)
