!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ShipmentTracker
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body

    %nav.navbar.navbar-default
      .container
        .navbar-header
          %a.navbar-brand{href: '/'}
            Shipment Tracker
          %a.navbar-brand{href: wiki_links(:home), target: '_blank', title: 'Help'}
            %span.glyphicon.glyphicon-question-sign{aria: { hidden: true }}
        %ul.navbar-nav.nav
          %li
            = link_to 'Prepare', new_feature_reviews_path
          %li
            = link_to 'Search', search_feature_reviews_path
          %li
            = link_to 'Repositories', git_repository_locations_path
          %li
            = link_to 'Releases', releases_path
          %li
            = link_to 'Tokens', tokens_path
        %ul.nav.navbar-nav.navbar-right
          - if current_user.logged_in?
            %li
              %p.navbar-text
                %small= current_user.email
            %li
              = button_to 'Log out', { controller: 'sessions', action: 'destroy'}, method: :delete, class: 'btn btn-secondary navbar-btn'
          - else
            %li
              = link_to 'Log in', login_url
    .container
      - if flash[:error] # the red one
        .alert.alert-danger= flash[:error]
      - if flash[:warning] # the yellow one
        .alert.alert-warning= flash[:warning]
      - if flash[:success] # the green one
        .alert.alert-success= flash[:success]
      - if flash[:info] # the blue one
        .alert.alert-info= flash[:info]
      = yield
